<h1><%= @user.name %>のマイクロポスト一覧</h1>

<%= render 'stats' %>

<br><br>

<%= @user.name %>のポスト一覧
<br><br>
<% @microposts.each do |micropost| %>
<%= micropost.content %>
<br>
<% end %>

<h1>Followersのポスト一覧</h1>

<br>

<% @follwers_microposts.each do |micropost| %>
 
<%= micropost.content %>

<% @user = User.find_by(id: micropost.user_id) %>

Posted By  <%= @user.name %>

<br>
<% end %>
<br>


